.projects-component-header {
    background: #111827;
    color: white;
    font-size: 4em;
    text-align: center;
    padding: 100px;
    font-weight: bold;
}

.projects-component-header span {
    opacity: 0.25;
}

.project-component-gif {
    width: 50%;
    margin: auto 25px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.projects-component-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.project-component {
    display: flex;
    margin: 50px 0;
}

@media only screen and (max-width: 800px) {
    .project-component {
        flex-direction: column;
    }

    .project-component-gif {
        width: 90%;
        margin: 10px auto;
    }
}

.project-component-info-container {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
}

.project-component-title {
    font-weight: bold;
    font-size: 2em;
    margin: 5px 0;
}

.project-component-title-1 {
    background: -webkit-linear-gradient(45deg, rgb(255,0,0), rgb(200,0,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-component-title-2 {
    background: -webkit-linear-gradient(45deg, rgb(255,150,0), rgb(255,50,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-component-title-3 {
    background: -webkit-linear-gradient(45deg, rgb(0,255,255), rgb(0,255,200));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-component-overview {
    font-size: 1.15em;
    margin: 0;
    line-height: 1.5em;
}

.github-link {
    background: rgb(37, 44, 59);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0;
    transition: 200ms all ease-in-out;
    width: 85px;
}

.github-link:hover {
    filter: brightness(1.25)
}

.fa-arrow-up-right-from-square {
    font-size: 0.75em;
}

.stacks {
    list-style: none;
    display: flex;
}

.stack {
    background: rgb(37, 44, 59);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin-right: 5px;
    transition: 200ms all ease-in-out;
}