.project-container {
    display: flex;
    flex-direction: column;
    width: var(--width);
    margin: 0 auto;
}

.project-gif {
    width: 40%;
    border-radius: 25px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
    margin: auto 25px auto 0;
}

.project {
    display: flex;
    margin: 50px 0;
}

.project-info-container {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 25px;
}

.project-title {
    font-weight: bold;
    font-size: 2em;
    margin: 5px 0;
}

.project-overview {
    font-size: var(--font-size);
    margin: 0;
    line-height: 1.5em;
}

.github-link {
    background: white;
    color: rgb(37, 44, 59);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 10px 0;
    transition: 200ms all ease-in-out;
    width: 105px;
    font-size: var(--font-size);
}

.github-link:hover {
    filter: brightness(0.75)
}

@media only screen and (max-width: 800px) {
    .project {
        flex-direction: column;
    }

    .project-gif {
        width: 90%;
        margin: 10px auto;
    }
    .github-link {
        width: 85px;
    }
}

.fa-arrow-up-right-from-square {
    font-size: 0.75em;
}

.stacks {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.stack {
    background: rgb(37, 44, 59);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 0 5px 5px 0;
    transition: 200ms all ease-in-out;
    font-size: var(--font-size);
}

@media only screen and (max-width: 600px) {
    .projects-header  {
        font-size: 2em;
    }
}
