.bio {
  background: var(--secondary-color);
  padding: 100px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.bio-container {
  max-width: var(--width);
  width: 90%;
  margin: 0 auto;
}

.bio-main-header {
  font-size: calc(var(--font-size) * 2);
  font-weight: 600;
  margin: 10px 0;
  color: var(--font-color);
  text-align: center;
}

.bio-paragraph {
  font-size: var(--font-size);
  line-height: 1.5em;
  margin: 0;
  color: var(--font-color);
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bio .highlight {
  background: var(--highlight-color);
  padding: 5px 5px;
  border-radius: var(--border-radius);
}
