.highlights {
    background: white;
    padding: 50px 0;
}

.highlights-container {
    width: 1440px;
    margin: 0 auto;
}

.highlights-title {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.project-gif {
    width: 40%;
    margin: auto 25px;
    border-radius: 25px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    margin: 50px 0;
}

@media only screen and (max-width: 800px) {
    .project {
        flex-direction: column;
    }

    .project-gif {
        width: 90%;
        margin: 10px auto;
    }
}

@media only screen and (max-width: 1440px) {
    .highlights-container {
        width: 90%;
    }
}

.project-info-container {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
}

.project-title {
    font-weight: bold;
    font-size: 2em;
    margin: 5px 0;
}

.project-title-1 {
    background: -webkit-linear-gradient(45deg, rgb(00,150,255), rgb(0,100,200));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-title-2 {
    background: -webkit-linear-gradient(45deg, rgb(0,200,0), rgb(0,100,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-title-3 {
    background: -webkit-linear-gradient(45deg, rgb(200,0,255), rgb(100,0,200));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-overview {
    font-size: 1.25em;
    margin: 0;
    line-height: 1.5em;
}

.github-link {
    background: rgb(37, 44, 59);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 10px 0;
    transition: 200ms all ease-in-out;
    font-size: 1.25em;
    width: 105px;
}

.github-link:hover {
    filter: brightness(1.25)
}

.highlights .fa-arrow-up-right-from-square {
    font-size: 0.75em;
}

.stacks {
    list-style: none;
    display: flex;
}

.stack {
    background: rgb(37, 44, 59);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 7px;
    margin-right: 5px;
    transition: 200ms all ease-in-out;
    font-size: 1.25em;
}