:root {
    --font-size: 1.25em;
}

@media only screen and (max-width: 800px) {
    :root {
        --font-size: 1em;
    }
}

.info {
    background: #1e2841;
    padding: 25px;
}

.info-container {
    width: 1440px;
    margin: 50px auto;
}

.info-main-header {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
    color: white;
}

.info-paragraph {
    font-size: var(--font-size);
    line-height: 1.5em;
    margin: 0;
    color: white;
}

@media only screen and (max-width: 1440px) {
    .info-container {
        width: 90%;
    }
}