.info-container {
    width: var(--width);
    margin: 100px auto;
}

.info-main-header {
    font-size: calc(var(--font-size)*2);
    font-weight: bold;
    margin: 10px 0;
    color: var(--accent-color);
}

.info-paragraph {
    font-size: var(--font-size);
    line-height: 1.5em;
    margin: 0;
    color: var(--font-color);
}