.hero {
    width: 100%;
    height: 500px;
    padding: 10px 0;
    position: relative;
    margin-top: 75px;
    background: var(--main-color);
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 25px;
}

.hero-texts {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.hero-name-text {
    font-size: 8em;
    font-weight: bold;
    color: var(--accent-color);
    transition: all 200ms ease-in-out;
}

.hero-job-text {
    font-size: 3em;
    color: var(--font-color);
    transition: all 200ms ease-in-out;
}

.hero .fa-arrow-up-right-from-square {
    font-size: 0.75em;
}

.hero .fa-github {
    font-size: 1em;
}

.hero .fa-file {
    font-size: 1em;
}

.hero-connect-button:hover {
    filter: brightness(0.75)
}

.hero-github-button:hover {
    filter: brightness(0.75)
}

@media only screen and (max-width: 600px) {
    .hero-container {
        width: 90%;
    }
    
    .hero-name-text {
        font-size: 6em;
    }
    
    .hero-job-text {
        font-size: 2em;
    }
}
