.hero {
    width: 100%;
    height: 500px;
    padding: 10px 0;
    position: relative;
    margin-top: 60px;
    background: var(--main-color);
    overflow: hidden;
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 25px;
    padding: 25px;
    width: 100%;
}

.hero-texts {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-name-text {
    font-size: 8em;
    font-weight: bold;
    color: var(--font-color);
    transition: all 200ms ease-in-out;
}

.hero-job-text {
    font-size: 3em;
    color: var(--font-color);
    transition: all 200ms ease-in-out;
    font-weight: 600;
}

.hero-links {
    display: flex;
    gap: 10px;
}

.hero-link {
    padding: 10px 20px;
    border-radius: 15px;
    font-size: var(--font-size);
    transition: all 200ms ease-in-out;
    font-weight: 500;
}

.hero .fa-up-right-from-square {
    font-size: 0.75em;
}


.hero-link:nth-child(1) {
    background: var(--accent-color);
    color: white;
}

.hero-link:nth-child(2) {
    background: var(--main-color);
    color: var(--font-color);
    border: 1px solid var(--border-color);
}

.hero-link:hover {
    filter: brightness(0.75);
}

@media only screen and (max-width: 1440px) {
    .hero-name-text {
        font-size: 7em;
    }
    
    .hero-job-text {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 600px) {
    .hero-container {
        width: 90%;
    }
    
    .hero-name-text {
        font-size: 4em;
    }
    
    .hero-job-text {
        font-size: 1.5em;
    }
}


