.hero-container {
    width: 100%;
    margin-top: 60px;
    background: var(--main-color);
    overflow: hidden;
}

.hero {
    margin: 70px auto;
    flex-direction: row;
    display: flex;
    gap: 25px;
    max-width: var(--width);
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.profile-image {
    width: 40%;
}

.hero-texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
}

.hero-greeting-text {
    font-size: calc(var(--font-size)*3);
    font-weight: bold;
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.hero-text {
    font-size: calc(var(--font-size)*1.8);
    color: var(--font-color);
}

.hero-links {
    display: flex;
    gap: 10px;
}

.hero-link {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: var(--font-size);
    font-weight: 500;
}

.hero .fa-up-right-from-square {
    font-size: 0.75em;
}


.hero-link:nth-child(1) {
    background: var(--accent-color);
    color: white;
}

.hero-link:nth-child(2) {
    background: var(--main-color);
    color: var(--font-color);
    border: 1px solid var(--border-color);
}

.hero-link:hover {
    filter: brightness(0.75);
}

@media screen and (max-width: 800px) {
    .hero {
        flex-direction: column-reverse;
    }
    .profile-image {
        width: 300px;
    }
}

.hero .highlight {
    color: var(--accent-color);
}

.wave {
    width: 60px;
}