.title {
    width: var(--width);
    margin: 0 auto;
}

.title-text {
    color: var(--font-color);
    font-size: calc(var(--font-size)*2);
    font-weight: bold;
}

.fa-diagram-project {
    color: var(--accent-color);
}