.contact-title {
  font-size: calc(var(--font-size) * 2);
  font-weight: bold;
  color: var(--font-color);
  text-align: center;
  margin-top: 60px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 512px;
  margin: 20px auto 50px auto;
  color: var(--font-color);
  border-radius: var(--border-radius);
}

.required::after {
  content: ' *';
  color: red;
}

.contact-name-label,
.contact-email-label,
.contact-message-label {
  font-size: var(--font-size);
  margin-bottom: 2px;
  font-weight: 500;
}

.contact-name-input,
.contact-email-input {
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  border-width: 0;
  margin-bottom: 15px;
  color: var(--font-color);
  outline: none;
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  background: var(--main-color);
}

.contact-message {
  border-radius: var(--border-radius);
  height: 150px;
  font-size: var(--font-size);
  border: none;
  margin-bottom: 15px;
  resize: vertical;
  color: var(--font-color);
  outline: none;
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  background: var(--main-color);
}

.contact-submit {
  padding: 10px 15px;
  font-size: 1.25em;
  border-radius: var(--border-radius);
  border-width: 0;
  cursor: pointer;
  background: var(--accent-color);
  color: white;
  font-weight: 500;
}

.contact-submit:hover {
  filter: brightness(0.75);
}

@media only screen and (max-width: 512px) {
  .contact-form {
    width: 85%;
  }

  .contact-header {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .contact-header {
    font-size: 2em;
  }
}

.contact-success-label {
  position: fixed;
  color: white;
  font-weight: 500;
  font-size: var(--font-size);
  background: var(--accent-color);
  padding: 10px;
  border-radius: var(--border-radius);
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: -70px;
}
