.skills {
    color: var(--font-color);
    margin: 0 0 100px 0;
}

.skills-container {
    width: var(--width);
    margin: 0 auto;
}

.skills-title {
    margin: 0 0 25px 0;
    font-size: calc(var(--font-size)*2);
    font-weight: bold;
    color: var(--accent-color);
}

.skills-subtitle {
    margin: 20px 0 10px 0;
    font-size: 1.5em;
}

.skills-list {
    list-style-type: none;
    font-size: var(--font-size);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    line-height: 1.5em;
    gap: 7px;
}

.skills-item {
    padding: 10px 15px;
    border-radius: 7px;
}

.skills-list-1 .skills-item {
    background: var(--accent-color);
    color: var(--main-color);
}

.skills-list-2 .skills-item {
    background: var(--secondary-font-color);
    color: var(--main-color);
}

@media only screen and (max-width: 600px) {
    .skills {
        padding: 5px;
    }
    
    .skills-list {
        font-size: var(--font-size);
    }
}
