.skills {
    color: var(--font-color);
    margin: 100px 0;
}

.skills-container {
    width: var(--width);
    margin: 0 auto;
}

.skills-title {
    margin: 0 0 25px 0;
    font-size: calc(var(--font-size)*2);
    font-weight: bold;
    color: var(--accent-color);
}

.skills-subtitle {
    margin: 0 5px;
    font-size: 1.5em;
}

.skills-list {
    list-style-type: none;
    font-size: var(--font-size);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1.5em;
}

.skills-item {
    background: var(--secondary-color);
    color: var(--accent-color);
    padding: 10px 15px;
    margin: 5px;
    border-radius: 7px;
}

@media only screen and (max-width: 600px) {
    .skills {
        padding: 5px;
    }
    
    .skills-list {
        font-size: var(--font-size);
    }
}
