.about-image {
    display: block;
    width: 30%;
    margin: 25px auto;
    border-radius: 33% 67% 52% 48% / 39% 37% 63% 61%;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
    background: var(--accent-color);
    transition: 400ms all;
}

.about-image:hover {
    border-radius: 50%;
}

.about-container {
    display: block;
    width: 50%;
    margin: 50px auto;
}

.about-header {
    font-size: calc(var(--font-size)*1.25);
    font-weight: bold;
    color: var(--font-color);
}

.about-paragraph {
    width: 100%;
    font-size: var(--font-size);
    line-height: 1.5em;
    color: var(--font-color);
}

@media only screen and (max-width: 800px) {
    .about-image {
        width: 50%;
    }
    .about-container {
        width: 75%;
    }
}