.about-image {
    display: block;
    width: 30%;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.about-paragraph {
    width: 50%;
    display: block;
    margin: 25px auto;
    font-size: var(--font-size);
    line-height: 1.5em;
    color: var(--font-color);
}

@media only screen and (max-width: 800px) {
    .about-image {
        width: 50%;
    }
    .about-paragraph {
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    .about-header {
        font-size: 2em;
    }
}
