.header-text {
    color: var(--accent-color);
    font-size: 4em;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .header-text {
        font-size: 3em;
    }
}

@media only screen and (max-width: 600px) {
    .header-text {
        font-size: 2.5em;
    }
}

