.nav {
    background: rgb(30, 35, 40);
    height: 65px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 200ms all ease-in-out;
    transition: 500ms height ease-in-out;
    z-index: 1000;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.nav-container {
    height: 65px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-logo-container {
    display: flex;
    margin-left: 20px;
}

.logo-nav-link {
    margin: auto 0;
}

.logo {
    width: 30px;
    transition: all 100ms ease-in-out;
}

.text-logo-nav-link {
    font-weight: 500;
    color: transparent;
    transition: all 100ms ease-in-out;
    text-decoration: none;
    margin: auto 0;
    font-weight: bold;
    font-size: 1.1em;
}

.visible {
    margin-left: 10px;
    color: white;
}

.nav-logo-container:hover .text-logo-nav-link {
    margin-left: 10px;
    color: white;
}

.nav-links {
    height: 100%;
    display: flex;
    margin-right: 10px;
}

.nav-link {
    margin: auto 10px;
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: all 200ms ease-in-out;
    filter: brightness(0.75);
}

.contact-nav-link {
    color: var(--main-color);
    padding: 10px 15px;
    border-radius: 7px;
    filter: brightness(0.9);
    background: var(--accent-color);
}

.nav-link:hover {
    color: var(--accent-color)
}

.contact-nav-link:hover {
    filter: brightness(0.75);
    color: white;
}

.nav-toggle-button {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .nav-toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
    }
}

@media only screen and (max-width: 1440px) {
    .nav-container {
        width: 100%
    }
}

.toggle-icon {
    width: 30px;
    height: 3px;
    background: white;
    transition: all 200ms ease-in-out;
    border-radius: 50px;
}

.toggle-icon::before,
.toggle-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    transition: all 200ms ease-in-out;
    border-radius: 50px;
}

.toggle-icon::before {
    transform: translateY(-7.5px);
}

.toggle-icon::after {
    transform: translateY(7.5px);
}

.nav-toggle-button.open .toggle-icon {
    background: transparent;
}

.nav-toggle-button.open .toggle-icon::before, .nav-toggle-button.open .toggle-icon::after {
    transform: translateY(0px);
}

.nav-toggle-button.open2 .toggle-icon::before {
    transform: rotate(45deg);
}

.nav-toggle-button.open2 .toggle-icon::after {
    transform: rotate(-45deg);
}

.media-nav {
    width: 100%;
    height: 100%;
    background: var(--main-color);
    z-index: 999;
    transition: all 200ms ease-in-out;
    margin-top: 55px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
}

.media-nav-links {
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    transition: all 500ms ease-in-out;
    width: 256px;
}

@media only screen and (max-width: 300px) {
    .media-nav-links {
        width: 80%;
    }
}

.media-nav-link {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: all 200ms ease-in-out;
    margin: 15px 0;
}

.nav-hr {
    border: none;
    height: 0.05em;
    background: rgba(255,255,255,0.15);
}
