.nav {
    background: var(--nav-color);
    height: 70px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.sticky {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--border-color);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.nav-container {
    height: 100%;
    max-width: var(--width);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-logo-container {
    display: flex;
    margin-left: 20px;
}

.logo-nav-link {
    margin: auto 0;
}

.logo {
    width: 50px;
    filter: invert(47%) sepia(22%) saturate(2149%) hue-rotate(165deg) brightness(105%) contrast(71%);;
}

.nav-logo-container:hover .text-logo-nav-link {
    margin-left: 10px;
}

.nav-links {
    height: 100%;
    display: flex;
    margin-right: 10px;
    gap: 5px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1em;
    font-weight: 500;
    background: transparent;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.nav-link .fa-github, .nav-link .fa-solid {
    font-size: 1.5em;
}

.nav-link:hover {
    background: var(--secondary-color);
}

.nav-toggle-button {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .nav-toggle-button {
        display: flex;
    }

    .experience-nav-link, 
    .projects-nav-link, 
    .contact-nav-link, 
    .github-nav-link, 
    .education-nav-link,
    .resume-nav-link {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .nav-container {
        width: 100%
    }
}

.toggle-icon {
    width: 30px;
    height: 3px;
    background: var(--font-color);
    transition: all 200ms ease-in-out;
    border-radius: 50px;
}

.toggle-icon::before,
.toggle-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--font-color);
    transition: all 200ms ease-in-out;
    border-radius: 50px;
}

.toggle-icon::before {
    transform: translateY(-7.5px);
}

.toggle-icon::after {
    transform: translateY(7.5px);
}

.nav-toggle-button.open .toggle-icon {
    background: transparent;
}

.nav-toggle-button.open .toggle-icon::before, .nav-toggle-button.open .toggle-icon::after {
    transform: translateY(0px);
}

.nav-toggle-button.open2 .toggle-icon::before {
    transform: rotate(45deg);
}

.nav-toggle-button.open2 .toggle-icon::after {
    transform: rotate(-45deg);
}

.media-nav {
    width: 100%;
    height: 100%;
    background: var(--nav-color);
    z-index: 999;
    margin-top: 55px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.media-nav-links {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    font-weight: 500;
    gap: 20px;
}

@media only screen and (max-width: 300px) {
    .media-nav-links {
        width: 80%;
    }
}

.media-nav-link {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1em;
    font-weight: 600;
}

.media-nav-link-line {
    background: var(--font-color);
    opacity: 0.25;
}

.nav .fa-up-right-from-square {
    opacity: 0.5;
    font-size: 0.75em;
}

.media-nav .fa-up-right-from-square {
    opacity: 0.5;
    font-size: 0.75em;
}
