.footer {
    background: var(--secondary-color);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: auto;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
}

.footer-copyright-text {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    color: var(--font-color);
}

.footer-link {
    color: var(--font-color);
    transition: all 200ms ease-in-out;
}

.footer-link:hover {
    color: var(--accent-color);
}

.icon {
    font-size: 1.5em;
}