.footer {
    background: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: auto;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
}

.footer-copyright-text {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    color: grey;
}

.footer-link {
    color: black;
    transition: all 100ms ease-in-out;
}

.icon {
    font-size: 1.5em;
}