.experience-image {
    width: 30%;
    margin: auto 25px auto 0;
    border-radius: 25px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.experience-info-container {
    margin: auto 0 auto 25px;
    color: white;
}

.experience-container {
    width: var(--width);
    display: flex;
    margin: 25px auto;
}

@media only screen and (max-width: 800px) {
    .experience-image {
        width: 80%;
        margin: 25px auto;
    }
    .experience-container {
        flex-direction: column;
    }
}

.experience-date {
    opacity: 0.75;
}

.experience-title {
    font-weight: bold;
    font-size: 2em;
    margin: 5px 0;
}

.experience-paragraph {
    font-size: var(--font-size);
    line-height: 1.25em;
}

.experience-list {
    margin: 10px 0;
}

.experience-list-item {
    font-size: var(--font-size);
    line-height: 1.5em;
}

@media only screen and (max-width: 600px) {
    .experience-header {
        font-size: 2em;
    }
}



