.experience-header {
    color: #111827;
    font-size: 4em;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

.experience-header span {
    opacity: 0.25;
}

.experience-image {
    width: 30%;
    margin: auto 25px;
    border-radius: 25px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.experience-container {
    width: 1440px;
    margin: 25px auto;
    display: flex;
}

@media only screen and (max-width: 800px) {
    .experience-image {
        width: 80%;
        margin: 25px auto;
    }
    .experience-container {
        width: 80%;
        flex-direction: column;
    }
}

.experience-date {
    color: darkslategrey;
}

.experience-title {
    font-weight: bold;
    font-size: 2em;
    margin: 5px 0;
}

.experience-title-1 {
    background: -webkit-linear-gradient(45deg, rgb(255,0,0), rgb(200,0,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience-title-2 {
    background: -webkit-linear-gradient(45deg, rgb(0,150,255), rgb(0,50,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience-paragraph {
    font-size: 1.15em;
    line-height: 1.25em;
}

.experience-list {
    margin: 10px 0;
}

.experience-list-item {
    font-size: 1.15em;
    line-height: 1.5em;
}

@media only screen and (max-width: 600px) {
    .experience-header {
        font-size: 2em;
    }
}

@media only screen and (max-width: 1440px) {
    .experience-container {
        width: 90%;
    }
}


