:root {
    --font-size: 1.25em;
    --width: 1440px;
    --main-color: rgb(255,255,255);
    --secondary-color: rgb(235,235,235);
    --accent-color: rgb(0,125,255);
    --font-color: rgb(40, 45, 50);
}

@media only screen and (max-width: 1440px) {
    :root {
        --width: 85%;
        --font-size: 1.15em;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --font-size: 1em;
    }
}


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
