:root {
    --font-size: 1.25em;
    --width: 1440px;
    --main-color: rgb(255,255,255);
    --secondary-color: rgb(235,235,235);
    --accent-color: rgb(21,166,240);
    --secondary-accent-color: rgb(35, 201, 130);
    --third-accent-color: rgb(140, 81, 214);
    --font-color: rgb(18, 51, 84);
    --secondary-font-color: rgb(131, 148, 167);
}

@media only screen and (max-width: 1440px) {
    :root {
        --width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --font-size: 1em;
    }
}


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--main-color);
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}
