:root {
    --font-size: 1.25em;
    --width: 1440px;
}

@media only screen and (max-width: 1440px) {
    :root {
        --width: 85%;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --font-size: 1em;
    }
}


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111827;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home {
    background: #111827 url(./Images/star-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
