.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    color: var(--font-color);
    gap: 20px;
}

.not-found-title {
    font-size: 8em;
    font-weight: bold;
}

.not-found-sentence {
    font-size: 2em;
    font-weight: 500;
}

.not-found-button {
    color: var(--font-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: var(--font-size);
    font-weight: 500;
    border: 1px solid var(--border-color);
    background: var(--main-color);
}

.not-found-button:Hover {
    filter: brightness(0.75);
}