.education-title {
    font-size: calc(var(--font-size)*2);
    font-weight: bold;
    color: var(--font-color);
    text-align: center;
    margin-top: 60px;
}

.transcript {
    background: var(--secondary-color);
    width: 90%;
    margin: 100px auto 100px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    border: 1px solid var(--border-color);
}

.transcript-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px;
}

.transcript-title {
    font-weight: bold;
    font-size: calc(var(--font-size)*1.75);
    color: var(--accent-color);
    text-decoration: itali;
}

.transcript-date {
    font-weight: 500;
    font-size: calc(var(--font-size)*1.5);
}

.transcript-courses-title {
    font-weight: 500;
    font-size: calc(var(--font-size)*1.25);
    text-decoration: underline;
}

.transcript-section-title {
    font-weight: 500;
    font-size: calc(var(--font-size)*1.25);
}

.course-list {
    list-style-type: none;
}

.course {
    font-size: var(--font-size);
    opacity: 0.75;
    line-height: 2em;
}

.course:before {
    content: '• ';
    color: var(--accent-color);
}
